page-register {
    
    ion-searchbar{        
        .searchbar-input-container{
            .searchbar-input{

                border-radius: 20px;
            }
        }
     }
     search-name{
        width:10;
     }

     
}
.modal-fullscreen {
   .modal-wrapper {
       height: 200px;
   }
   .scroll-content {
    overflow-y: hidden;
    }
}
